*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: orange;
  color: white;
  font-size: 1.4rem;
}
.calculator {
  width: 400px;
  height: 600px;
  margin: 150px auto;
  background-color: rgb(34, 33, 33);
  padding: 1rem;
  border-radius: 15px;
}
.screen {
  height: 100px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 2rem;
  border: 2px solid grey;
  text-align: right;
  padding-right: 1rem;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  color: white;
}
p:first-child {
  height: 30%;
  margin: 0;
  padding-top: 13px;
  font-size: 1.1rem;
  color: rgb(9, 190, 9);
}
p:last-child {
  padding-top: 20px;
}
.button-grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  height: 420px;
  align-items: center;
  justify-items: center;
}
button {
  background-color: grey;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 1.3rem;
  width: 85%;
  height: 85%;
}

.equal {
  grid-column: 3/5;
  border-radius: 35px;
}
button:hover {
  background-color: rgb(39, 155, 155);
}
